# Input Output in Phyton

There are some ways to enter variables on the string, such as:
- Directly merge variables in the print() statement

In [1]:
a = 3

In [2]:
print("Apa kabar?")

Apa kabar?

In [3]:
a =3

In [4]:
type(a)

int

In [5]:
print('Nilai variabel a adalah',a)

Nilai variabel a adalah 3

Displaying text(string) can use the format string mechanism

In [6]:
print('Nama saya {}'.format('Na Hae Do'))

Nama saya Na Hae Do

Using the '%' operator coupled with 'specifier argument' such as:
- %s- String
- %d- Int
- %f- desimal

In [7]:
nama = "Baek Yi Jin"

In [8]:
umur = 25

In [9]:
print("umur %s adalah %d tahun" % (nama, umur))

umur Baek Yi Jin adalah 25 tahun

# TASK 3

In [10]:
nama = "Sweety"
umur = 21
tinggi = 154.5

In [11]:
print("Nama saya",nama + " umur saya",umur, "dan tinggi badan saya", tinggi)

Nama saya Sweety umur saya 21 dan tinggi badan saya 154.5

In [12]:
print('Nama saya {}'.format('Sweety'))

Nama saya Sweety

In [13]:
print("tinggi badan %s adalah %.2f cm" % (nama, tinggi))

tinggi badan Sweety adalah 154.50 cm

# Input()

Python allows for user input. That means we are able to ask the user for input. 
There are some implementation about input() code:

In [14]:
input()

Shafira

'Shafira'

In [18]:
angka = int(input())

000

In [19]:
type(angka)

int

# TASK 4

In [15]:
nama = input("Nama saya: ")

Nama saya: Shafira

In [16]:
umur = input("Umur saya: ")

Umur saya: 21

In [17]:
print(umur)

21

In [20]:
nama = input("Masukkan nama:")
usia = input("Usia:")
tinggi = input("Tinggi badan:")

Masukkan nama:Shafira
Usia:21
Tinggi badan:154